nav .sidenav-trigger {
	margin: 0px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

section#main {
	flex: 1 0 auto;
}
.input-field.padding {
	width: calc(100% - 30px);
	margin: 1rem 15px;
}
.sidenav .user-view {
	padding: 38px 38px 0px;
}
.sidenav .user-view .email {
	padding-bottom: 8px;
}
.sidenav .user-view .background img
{
	width: 100%;
}
.modal-footer.input-field {
	padding: 0px 24px;
	margin: 0px;
}

.card > .card-image {
	height: 200px;
}
.card > .card-image > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.card > .card-content > p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.collection-item > .material-icons {
	float: left;
	font-size: 1.2rem;
	line-height: 1.5rem;
	padding-right: 10px;
}

.codeview {
	width: 100%;
	min-height: 250px;
}
.codeview > .head {
	padding: 0px 15px;
	display: flex;
	align-items: center;
}
.codeview .title {
	font-size: 1.4rem;
	line-height: 110%;
	padding: 20px 0px;
	margin: 0px;
	display: inline-block;
	font-weight: normal;
}

.viewbtns {
	display: flex;
}

.codeview .card-content {
	word-break: break-all;
}
.codeview > .head .blank {
	flex: 1 0 auto;
}
a > .material-icons {
	float: left;
}
a.btn > .material-icons {
	margin-right: 5px;
}
button > .material-icons {
	float: left;
}
button.btn > .material-icons {
	margin-right: 5px;
}
a:not(.btn):not(.collection-item):not(.btn-floating):not(.not) > .material-icons {
	float: left;
	padding: 3px;
}
.collection.tab-content {
	margin: 0px;
}
.projecttitle {
	font-size: 1.5rem;
	font-weight: 500;
}
.card.manager-header {
	width: 100%;
	margin: 0px;
	margin-bottom: 15px;
	padding-top: 10px;
}
.collection-item > .title {
	font-size: 1.2rem;
}
.btn_group {
	padding: 8px 10px;
}

.insert {
	background-color : rgba(0, 255, 0, 0.3) !important;
}
.delete {
	background-color : rgba(255, 0, 0, 0.3) !important;
}

.fixed-footer {
	display : flex;
	flex-direction : column;
}
.fixed-footer .card-content {
	 flex : 1 0 auto;
}

.btn_group.row {
	margin : 0px;
	display : flex;
	align-items : center;
}
.btn_group.row > .arrow {
	height : 100%;
}
a.collection-item {
	color : #404040 !important;
}

.card > .collection {
	border : none;
}

a{
	word-break: break-all;
}

.progress {
	height: 32px!important;
	position: relative;
	width: 100%;
	margin: 10px auto;
	border: 1px solid #DDD;
	padding: 5px;
	border-radius: 3px;
}
.bar{
	background: #008DE6;
	height: 20px;
	width: 0%;
	/* transition animation */
	-webkit-transition: width .3s;
		-moz-transition: width .3s;
			transition: width .3s;

}
.percent {
	position: absolute;
	display: inline-block;
	top: 6px;
	left: 48%;
	color: #333;
}

@media (min-width:1024px){
	.login{
		width: 600px!important;
	}
	.flex {
		display: flex;
	}
	
	.jsc{
		justify-content: center;
	}
}


pre{
	font-family: 맑은 고딕;
	white-space: pre-wrap;
}
.custom-switch {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
display: -ms-inline-flexbox;
display: inline-flex;
-ms-flex-align: center;
align-items: center;
margin: 0;
}

.custom-switch-input {
position: absolute;
z-index: -1;
opacity: 0;
}
.custom-switch-indicator1 {
display: inline-block;
height: 1.25rem;
width: 2.25rem;
background: #e9ecef;
border-radius: 50px;
position: relative;
vertical-align: bottom;
border: 1px solid rgba(0, 40, 100, 0.12);
transition: .3s border-color, .3s background-color;
}

.custom-switch-indicator1:before {
content: '';
position: absolute;
height: calc(1.25rem - 4px);
width: calc(1.25rem - 4px);
top: 1px;
left: 1px;
background: #fff;
border-radius: 50%;
transition: .3s left;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.custom-switch-input:checked ~ .custom-switch-indicator1 {
background: #467fcf;
}

.custom-switch-input:checked ~ .custom-switch-indicator1:before {
left: calc(1rem + 1px);
}

.custom-switch-input:focus ~ .custom-switch-indicator1 {
box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
border-color: #467fcf;
}

.custom-switch-description {
margin-left: .5rem;
color: #6e7687;
transition: .3s color;
}

.custom-switch-input:checked ~ .custom-switch-description {
color: #495057;
}
.title{
word-break: break-all;
}
button,
input {
overflow: visible;
}
input,
button,
select,
optgroup,
textarea {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}
input[type="radio"],
input[type="checkbox"] {
box-sizing: border-box;
padding: 0;
}